
<footer class="w-full  bg-black text-white">
    <div class="max-w-screen-xl mx-auto p-1 md:p-4 text-center  dark:text-neutral-200">
      
      <p class="">&copy; Habi <%= Date.today.year %> All Rights Reserved</p>
    </div>
  </footer>