<div class="bg-green-300 mb-2">
  <p><strong>User ID:</strong> <%= review.user_id %></p>
  <p><strong>Comment:</strong> <%= review.comment %></p>
  <p><strong>Rating:</strong> <%= review.rating %></p>
</div>