<h2 class="text-blue-700 text-center">Reviews for <%= @movie_json["original_title"]%> </h2>
<%@reviews_saved.each do |review|%>
   <div class="bg-green-300 mb-2 text-justify"> name:<%=review.user_id%> <br>
    content:<%=review.comment%> <br>
    rating:<%=review.rating%> <br> <br>
    </div>
<%end%>